annotation_span_categories:
- name: Contradictory
  description: The fact contradicts the data.
- name: Not checkable
  description: The fact cannot be verified from the data.
- name: Misleading
  description: The fact is technically true, but leaves out important information
    or otherwise distorts the context.
- name: Incoherent
  description: The text uses unnatural phrasing or does not fit the discourse.
- name: Repetitive
  description: The fact has been already mentioned earlier in the text.
- name: Other
  description: The text is problematic for another reason.
prompt_template: 'Your task is to identify errors in the text and classify them.


  Output the errors as a JSON object with a single key "annotations". The value of
  "annotations" is a list in which each object contains fields "reason", "text", and
  "annotation_type". The value of "reason" is the short sentence justifying the annotation.
  The value of "text" is the literal value of the identified span (we will later identify
  the span using string matching). The value of "annotation_type" is an integer index
  of the error based on the following list:


  0: Contradictory (The fact contradicts the data.)

  1: Not checkable (The fact cannot be verified from the data.)

  2: Misleading (The fact is technically true, but leaves out important information
  or otherwise distorts the context.)

  3: Incoherent (The text uses unnatural phrasing or does not fit the discourse.)

  4: Repetitive (The fact has been already mentioned earlier in the text.)

  5: Other (The text is problematic for another reason.)


  Examples:


  - Contradictory: The lowest temperature does not drop below 4째C, but the text mentions
  2째C.

  - Not checkable: The text mentions that "both teams display aggressive play", which
  cannot be checked from the data.

  - Misleading: The tone of the text suggests there are many sensors out of which
  just a few are listed here. However, according to the data, the device has exactly
  these four sensors.

  - Incoherent: The text states that both teams had "equal chances until the first
  half ended scoreless." While this is technically true, the expression sounds unnatural
  for a sport summary.

  - Repetitive: The output text unnecessarily re-states information about a smartphone
  battery that was mentioned earlier.

  - Other: Use this as a last resort when you notice something else not covered by
  the above categories.


  Hints:

  - Always try to annotate the longest continuous span (i.e., the whole fact instead
  of a single word).

  - Annotate only the spans that you are sure about. If you are not sure about an
  annotation, skip it.

  - Ignore subjective statements: for example "a lightweight smartphone" highly depends
  on the context: you should not annotate these statements.

  - Numerical conventions: For weather forecasts, we accept both precise numbers (e.g.
  10.71째C) and the rounded ones (e.g. 11째C) as long as they agree with the data.

  - Annotate only according to your own knowledge. If you are considering using an
  external tool (Google, ChatGPT etc.), just skip that specific fact.


  If there is nothing to annotate in the text, "annotations" will be an empty list.


  Given the data:

  ```

  {data}

  ```

  annotate the errors in the corresponding text generated from the data:

  ```

  {text}

  ```'
model: llama3.3:70b
model_args: {}
campaign_orig_id: gold-final-zeroshot-llama3-3
